.header-navbar {
  padding: $header-navbar-padding-y $header-navbar-padding-x;
  background-color: $white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}


//
// modify bootstrap's navbar
.navbar-nav > .nav-item > .nav-link.active {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-nav > .nav-item > .nav-link.active {
  color: white;
}

//
//
.logo {
  max-height: 40px;
}

@include media-breakpoint-down(xs) {
  .logo {
    max-height: 30px;
  }
}