.index-header {
  display: block;
  background-color: $index-header-bg-color;
}

.index-header-inner {
  width: $index-content-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.index-main {
  display: block;
  min-height: 100%;
  background-color: $index-main-bg-color;
}

.index-main-inner {
  width: $index-content-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.index-title {
  font-size: 3rem;
  color: $index-title-color;
}
