.index-main {
  display: block;
  min-height: 100%;
  background-color: $white;
}

.index-main-inner {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

.index-header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 3rem;
  text-align: center;
  background-color: $header-color;
  color: color-yiq($header-color);
}

.index-post-wrapper {

}

.index-post-list {
}

.index-post-list-item {
}

.index-post-list-link {
  color: theme-color("dark");
}
