.post-wrapper {
  width: $post-wrapper-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: $space-normal;
}

.post-header {
  display: block;
  background-color: $post-header-bg-color;
}

.post-title {
  font-size: 3rem;
  line-height: 10rem;
  text-align: center;
  //color: $post-title-color;
}

.post-main {
  display: flex;
  align-items: start;
  width: 100%;
  margin-top: $space-normal;
}

.post-sidebar {
  width: $post-sidebar-width;
  background-color: $post-sidebar-bg-color;
}

.post-content {
  width: $post-content-width;
  margin-left: auto;
  padding: $space-normal;
  background-color: $post-content-bg-color;
}

.post-author {
  width: 100%;
  text-align: center;
}

.post-author-avatar {
  display: block;
  width: 7rem;
  margin: auto;
}

.post-author-name {
  color: $white;
}

.post-social-info {

}

.post-toc,
.post-toc ol {
  list-style: none;
  padding-left: 1rem;
}

.post-toc-link {
  color: $white;
}
