# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/

# vim
*.swp

# other
.tmp

# ide
*.idea

# sass
.sass-cache/
*.css.map

# hexo
.DS_Store
Thumbs.db
db.json
*.log
public/
.deploy*/
