
h1 {
  text-align: center;
}
h2 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #0072c5;
}
h3 {
  padding-left: 10px;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #0072c5;
}
