<header class="index-header">
  <div class="index-header-inner">
    <div class="index-title"><%- config.title %></div>
  </div>
</header>
<main class="index-main">
  <div class="index-main-inner">
    <%- get_content('index') %>
  </div>
</main>

<%- partial('_partials/footer') %>

